{% extends 'bicycle/layout.html' %}
{% block title %}Create bicycle{% endblock %}

{% block content %}
<h2 class="text-center">Lista das Bicicletas</i></h2>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <td><strong>Bicicleta</strong></td>
      <td><strong>Dono</strong></td>
      <td><a href="{% url 'new'%}"><button class="glyphicon glyphicon-plus btn btn-success"></button></a></td>
    </tr>
  </thead>
  <tbody>
    {% for item in itens %}
      <tr>
        <td  class="col-md-6">
          <label>Fabricante:  </label> {{ item.producer }}</br>
          <label>Modelo: </label> {{ item.model }}</br>
          <label>Color: </label> {{ item.color }}</br>
          <label>Marcha: </label> {{ item.gear }}</br>
          <label>Marca da Macha: </label> {{ item.markExchange }}</br>
        </td>
        <td class="col-md-5">
          <label>Proprietario: </label> {{ item.own }}</br>
          <label>Celular: </label> {{ item.cellPhone }}</br>
          <label>E-mail: </label> {{ item.email }}</br>
        </td>
        <td class="col-md-1">
          <a href="{% url 'edit' item.id %}" ><button class="btn btn-warning glyphicon glyphicon-pencil"></button></a>
          </br>

          <a href="{% url 'delete' item.id %}" onclick="return confirm('Deseja Excluir?')"><button class="btn btn-danger glyphicon glyphicon-remove"></button></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
