{% extends 'bicycle/layout.html' %}
{% block title %}Create bicycle{% endblock %}

{% block content %}
<table class="table table-bordered table-responsive">
<div class="row">
  <a href="{% url 'new'%}"><button class="pull-right glyphicon glyphicon-plus btn btn-success"></button></a>
</div>
<thead>
<tr>
  <td>Id</td>
  <td>Bicicleta</td>
  <td>Dono</td>
  <td>Opções</td>
</tr>
</thead>
<tbody>
  {% for item in itens %}
    <tr>
      <td>{{ item.id }}</td>
      <td>
        {{ item.producer }}</br>
        {{ item.model }}</br>
        {{ item.color }}</br>
        {{ item.gear }}</br>
        {{ item.markExchange }}</br>
      </td>
      <td>
        {{ item.own }}</br>
        {{ item.cellPhone }}</br>
        {{ item.email }}</br>
      </td>
      <td>
        <a href="{% url 'edit' item.id %}" ><button class="btn btn-warning">Editar</button></a>
        <a href="{% url 'delete' item.id %}" onclick="return confirm('Deseja Excluir?')"><button class="btn btn-danger">Deletar</button></a>
      </td>
    </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}
