<html>
  <head>
    <title>Bicycle Manager</title>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>
    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/freelancer.css' %}" />
  </head>
  <body>
    <div class="content container">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html> 