{% extends 'bicycle/layout.html' %}
{% block title %}New bicycle{% endblock %}

{% block content %}
<form name="create" id="create" method="post" action="{%url 'create' %}"> 
  {% csrf_token %}
  <h2 class="text-center">Bicicleta</h2>
  <input type="hidden" name="id" value="{{ bike.id }}">
  <div class="row">
    <div class="control-group col-md-8">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Fabricante</label>
        <input type="text" class="form-control" placeholder="Fabricante" id="producer" name="producer" value="{{ bike.producer }}" required>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="control-group col-md-4">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Modelo</label>
        <input type="text" class="form-control" placeholder="Modelo" id="model" value="{{ bike.model }}" name="model" required>
        <p class="help-block text-danger"></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="control-group col-md-5">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Cor</label>
        <input type="text" class="form-control" placeholder="Cor" id="color" value="{{ bike.color }}" name="color" required>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="control-group col-md-5">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Marca da Marcha</label>
        <input type="text" class="form-control" placeholder="Marca da Macha" id="markExchange" value="{{ bike.markExchange }}" name="markExchange" required>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="control-group col-md-2">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Marchas</label>
        <input type="text" class="form-control" placeholder="Machas" id="gear" value="{{ bike.gear }}" name="gear" required>
        <p class="help-block text-danger"></p>
      </div>
    </div>
  </div>

  <h2 class="text-center">Pertence a:</h2>
  <div class="control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <label>Proprietario</label>
      <input type="text" class="form-control" placeholder="proprietario" id="own" value="{{ bike.own }}" name="own" required>
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <div class="row">
    <div class="control-group col-md-6">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Celular</label>
        <input type="text" class="form-control" placeholder="Celular" id="cellPhone" value="{{ bike.cellPhone }}" name="cellPhone" required>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="control-group col-md-6">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>E-mail</label>
        <input type="email" class="form-control" placeholder="E-mail" id="email" value="{{ bike.email }}" name="email">
        <p class="help-block text-danger"></p>
      </div>
    </div>
  </div>
  </br>
  <button type="submit" class="btn btn-success pull-right">Salvar</button>
</form>
{% endblock %}
